 @mixin size-bg($color, $height, $width) {
	background-color: $color;
	height: $height;
	width: $width;
}

//font-family: 'Crimson Text', serif;
//font-family: 'Open Sans', sans-serif;



* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Crimson Text', serif;

}

body {
	background-color: #F4F8F9;
}

p, a {
	font-family: 'Open Sans', sans-serif;
	color: #808080;
}

.hero {
	background-image: url('/images/fireflies.jpg');
	background-size: cover;
	margin-top: 50px;
	width: 100%;
	height: 550px;


}

video {

	width: 100%;
	max-height: 640px;
	z-index: -100;
}


#map-canvas {
	width: auto;
	height: 600px;
	margin-top: 20px;
	margin-left: 250px;
}

.create-event {
	form {
		background-color: white;
		width: 225px;
		min-height: 400px;
		padding: 10px;
		float: left;

		.event-picture {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-size: cover;
			margin: 30px auto;
		}

		h2 {
			margin-bottom: 20px;
			text-align: center;
		}

		> * + * {
			margin-top: 20px;
		} 

		select {
			width: 100%;
			margin: 20px 0;
			min-height: 30px;
		}

		input {
			width: 100%;
			height: 30px;
			margin-bottom: 20px;
		}

		label {
			font-family: 'Open Sans', sans-serif;
		}
	}
}


button {
	font-family: 'Open Sans', sans-serif;
	border: 1px solid orange;
	color: orange;
	padding: 5px;
	background-color: white;
	border-radius: 30px;
	width: 100px;
}

.main-header {
	@include size-bg(#2D3645,110px,100%);
	position: relative;
	margin-bottom: 15px;
	min-width: 1060px;
	border-top: 3px solid orange;
	> div.container {
		width: 1060px;
		margin: auto;
		position: relative;
		min-height: 100%;
	}

	.icons > div {
		position: relative;
		display: block;
		width: 40px;
		float: right;
		margin-top: 20px;
		margin-right: 15px;
		text-align: center;
		font-size: 16pt;
		color: #6B727C;

	}

	i:hover {
		color: rgba(107, 114, 124, 0.38);
		cursor: pointer;
	}

	.profile-picture {
		display: inline-block;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		border: 1px solid orange;
		transform: translateY(-15%);
		background-size: cover;
		
	}
	nav {
		@include size-bg(#FFF,initial,100%);
		min-width: 1060px;
		position: absolute;
		bottom: 0;
		text-align: center;
		border-bottom: 1px solid #ddd;


		a {
			margin: 0 25px;
			display: inline-block;
			padding: 10px;
			text-decoration: none;
		}
	}
}






.notifications {
	position: relative;
	.event-alert {
		// background-color: tan;
		position: relative;
		box-sizing: padding-box;
		width: 100%;
		padding: 10px;
		.picture {
			float: left;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			background-size: cover;
		}
		a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 130px;
		}

		.info-alert {
			text-align: left;
			margin-left: 75px;
		}

		.actions {
			width: 100px;
			float: right;
		}

		.theme {
			color: orange;
			font-family: 'Open Sans', sans-serif;


		}
	}
}

.no-notifications {
	position: absolute;
	top: 50%;
	text-align: center;
	font-style: italic;
	width: 100%;
}














.notifications {
	position: absolute;
	background-color: white;
	border: 1px solid #DEDEDE;
	box-shadow: 0 0 15px -5px black;
	width: 400px;
	height: 500px;
	z-index: 2;
	transform: translateX(-300px) translateY(10px);
	border-radius: 3px;
	display: none;
	.events {

		overflow-y: scroll;
		height: 450px;
		width: 100%;
	}

	header {
		h2 {
			font-size: 24pt;
			font-weight: lighter;
			font-family: 'Crimson Text', serif;
			color: black;
			
		}
		border-bottom: 1px solid #DEDEDE;
		min-height: 50px;
	}
	&.active {
		display: block;
	}
	

	&:before {
		display: block;
		content: " ";
		width: 0;
		height: 0;
		position: absolute;
		right: 59px;
		top: -10px;

		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 10px solid white;

	}
}



.logo {
	position: absolute;
	top: 15px;
	left: 15px;
	color: white;
	font-size: 24pt;
	text-decoration: none;
	font-family: 'Crimson Text', serif;
}
.logo span {
	color: orange;
}

.page {
	@include size-bg(200px,initial,1060px);;
	min-height: 600px;
	margin: auto;
	position: relative;
	&:after {
		content: " ";
		clear: both;
		display: block;
		visibility: hidden;
	}
}


// EVENT DETAILS QUICK LOOK
.event-details, .user{
	@include size-bg("",400px,225px);
	border: 1px solid #DEDEDE;
	background-color: #FFF;
	float: left;
	margin-left: 15px;
	border-radius: 3px;
	text-align: center;

	> :not(:nth-child(2)){
		font-family: 'Open Sans', sans-serif;
	}

	>  :first-child {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-size: cover;
		margin: 30px auto;
	}

}

// event info sections
.info {

	h2, h4, h5 {
		font-weight: lighter;
		margin-top: 15px;
	}

	h5 {
		color: orange;
		font-family: 'Open Sans', sans-serif;
	}

	h4 {
		color: #808080;
		margin-bottom: 15px;
	}
}



.invite {
	border: 1px solid #DEDEDE;
	position: absolute;
	top: 355px;
	left: 30px;
	width: 195px;
	min-height: 30px;
}







//MEMBERS ATTENDING
.group {
	float: right;
	@include size-bg(transparant,"",225px);
	min-height: 150px;
	// margin-right: 15px;

	.member {
		overflow: hidden;
		margin-top: 15px;

		> :first-child {
			height: 50px;
			width: 50px;
			border-radius: 50%;
			background-size: cover;
			float: left;
		}
		> :last-child {
			margin-left: 60px;
			padding-top: 5px;
			text-transform: capitalize;
			:last-child {
				font-family: 'Open Sans', sans-serif;

				font-size: 8pt;
				color: orange;
				margin-top: -3px

			}
		}
	}
}

img {
	height: 35px;
}



//board and comments

.object {

	border-radius: 3px;
	border: 1px solid #DEDEDE;
	background-color: white;

	> :first-child {
		padding: 10px;
		border-bottom: 1px solid #ddd;
		h2 {
			font-weight: lighter;
		}

	}
	> :nth-child(2) {
		padding: 10px;
		min-height: 25px;
		p {
			min-height: 200px;
		}
	}

}

.board {

	margin: 0 255px;


	> * {
		@extend .object;
		textarea {
			min-width: 100%;
			max-width: 100%;
		}

		+ * {
			margin-top: 15px;
		}
	}

	.new-comment, .new-item {
		position: relative;
		&:after {
			content: "";
			display: block;
			margin-top: 30px;
		}
		button {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
	}


	.comment{
		header {
			div {
				background-size: cover;
				float: left;
				height: 30px;
				width: 30px;
				border-radius: 50%;
			}
			h2 {
				margin-left: 40px;
				text-transform: capitalize;
				font-weight: lighter;

			}
		}
		p {
			padding: 25px;
		}

	}
	&.events {
		margin-left: 255px;
		width: 75%;

		h5 {
			max-height: 130px;
			overflow: hidden;
			padding-left: 10px;
		}
	}

}

footer {
	padding: 10px;
	background-color: white;
	height: 200px;
	margin-top: 25px;

	text-align: center;
	nav {
		margin: 25px;
		a {
			text-decoration: none;
			padding: 10px;
		}

	}
	h5 {
		font-family: 'Open Sans', sans-serif;
	}


	.logo-footer {
		color: black;
		font-size: 24pt;
		text-decoration: none;
		font-family: 'Crimson Text', serif;
		span {
			color: orange;
		}
	}

}




//my events

.events	> * + * {
	margin-top: 20px;
	position: relative;
}

.event {
	overflow: hidden;
	position: relative;

	a {
		display: block;
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
	}

	//picture of event
	> :first-child {
		position: relative;
		float: left;
		width: 20%;
		background-size: cover;
		border-radius: 50%;
		
		//psudo element to enable width to be the same and height
		&:before {
			display: block;
			padding-top: 100%;
			content: "";
		}
	}
	
	// event i
	> .info {
		width: 40%;
		float: left;
		padding-left: 25px;
	}

	// description
	> :nth-child(3) {
		width: 40%;
		float: left;
		padding: 20px 0;
		font-family: 'Open Sans', sans-serif;
		color: #808080;
		font-style: italic;
	}
}



// create user

.create-account {
	background-color: #2D3645;
	padding-top: 50px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	color: #696D75;


}
.create-account form {
	width: 300px;
	background-color: white;
	padding: 20px;
	overflow: hidden;
	margin: auto;
	margin-top: 25px;
}

.create-account form > * + * {
	margin-top: 15px;
}

.create-account button {
	border-radius: 3px;
	background-color: orange;
	width: 260px;
	color: white;
	border: none;
	margin: auto;
	display: block;
	margin-top: 15px;
	padding: 10px;
}

div.cf {
	clear: both;
	content: "";
	overflow: hidden;
}
.create-account label {
	display: block;
	position: relative;
	width: 260px;				
	height: 40px;
	padding: 8px;

}


label.small {
	width: 125px;
	display: inline-block;			
}

.small:nth-child(even) {
	float: right;
}	
.small:nth-child(odd) {
	float: left;
}




.create-account input {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 12pt;
	padding-left: 45px;
	border-radius: 3px;
	border: 1px solid lightgray;
	background-color: transparent;
}


.greeting {
	width: 260px;
	margin: auto;
	text-align: center;
}


.signup-logo {
	position: relative;
	width: 300px;
	margin: auto;
	min-height: 50px;
	text-align: center;
	color: #696D75;
}
.signup-logo .logo {
	position: initial;
}

.create-account p {
	font-size: 7pt;
	text-align: center;
}

.alt-login {
	text-align: center;
	margin-top: 15px;
	a {
		text-decoration: none;
		font-size: initial;
		color: inherit;
	}
}



.my-items {
	float: left;
	width: 225px;
	min-height: 400px;
	background-color: white;
	border: 1px solid #DEDEDE;
	margin-left: 15px;
	border-radius: 3px;

}

.no-items {
	font-style: italic;
	text-align: center;
	color: #DEDEDE;
	margin: 50px;
}


.other-member-items {
	float: right;
	width: 225px;
	.item {
		border: 1px solid #DEDEDE;
		padding-left: 5px;
	}

}

.my-items header {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	min-height: 53px;
	h2 {
		font-weight: lighter;
	}
}

.items > * + * {
	margin-top: 10px;
}


.item {
	margin: 5px;
	border-radius: 3px;
	background-color: white;
	position: relative;
	h4 {
		margin-right: 120px;
	}
}

.item button {
	width: 70px;
	padding: 3px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	&:first-child {
		right: 0;

	}
	&:nth-child(2) {
		right: 75px;
	}
}

