 @mixin size-bg($color, $height, $width) {
	background-color: $color;
	height: $height;
	width: $width;
}

//font-family: 'Crimson Text', serif;
//font-family: 'Open Sans', sans-serif;



* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Crimson Text', serif;

}

body {
	background-color: #F4F8F9;
}

p, a {
	font-family: 'Open Sans', sans-serif;
	color: #808080;

}

.hero {
	background-image: url('/images/fireflies.jpg');
	background-size: cover;
	margin-top: 50px;
	width: 100%;
	height: 550px;


}

video {
	position: absolute;
	width: 100vw;
	max-height: 640px;
	min-width: 1100px;
	top: 110px;
	right: 0;
	z-index: -100;
}



#map-canvas {
	width: auto;
	height: 600px;
	margin-top: 20px;
	margin-left: 250px;
}

.create-event {
	form {
		background-color: white;
		width: 225px;
		padding: 10px;
		float: left;

		h2 {
			margin-bottom: 20px;
		}

		> * + * {
			margin-top: 20px;
		} 

		select {
			width: 100%;
			margin: 20px 0;
		}

		input {
			width: 100%;
			margin-bottom: 20px;
		}
	}
}


button {
	font-family: 'Open Sans', sans-serif;
	border: 1px solid orange;
	color: orange;
	padding: 5px;
	background-color: white;
	border-radius: 30px;
	width: 100px;
}

.main-header {
	@include size-bg(#2D3645,110px,100%);
	position: relative;
	margin-bottom: 15px;
	min-width: 1060px;
	border-top: 3px solid orange;
	> div.container {
		width: 1060px;
		margin: auto;
		position: relative;
		min-height: 100%;
	}

	.icons {
		position: absolute;
		top: 5px;
		right: 20px;
		font-size: 16pt;
		color: #6B727C;

		i:hover {
			color: rgba(107, 114, 124, 0.38);
			cursor: pointer;
		}

		* {
			margin-left: 30px;
		}

	}
	.profile-picture {
		display: inline-block;
		height: 35px;
		width: 35px;
		border-radius: 50%;
		border: 1px solid orange;
		transform: translateY(25%);
		background-size: cover;
		background-image: url('/images/1.jpg');
	}
	nav {
		@include size-bg(#FFF,initial,100%);
		min-width: 1060px;
		position: absolute;
		bottom: 0;
		text-align: center;
		border-bottom: 1px solid #ddd;


		a {
			margin: 0 25px;
			display: inline-block;
			padding: 10px;
			text-decoration: none;
		}
	}
}

.logo {
	position: absolute;
	top: 15px;
	left: 15px;
	color: white;
	font-size: 24pt;
	text-decoration: none;
	font-family: 'Crimson Text', serif;
}
.logo span {
	color: orange;
}

.page {
	@include size-bg(200px,initial,1060px);;
	min-height: 600px;
	margin: auto;
	&:after {
		content: " ";
		clear: both;
		display: block;
		visibility: hidden;
	}
}


// EVENT DETAILS QUICK LOOK
.event-details, .user{
	@include size-bg("",400px,225px);
	border: 1px solid #DEDEDE;
	background-color: #FFF;
	float: left;
	margin-left: 15px;
	border-radius: 3px;
	text-align: center;

	> :not(:nth-child(2)){
		font-family: 'Open Sans', sans-serif;
	}

	>  :first-child {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-size: cover;
		margin: 30px auto;
	}

}

// event info sections
.info {

	h2, h4, h5 {
		font-weight: lighter;
		margin-top: 15px;
	}

	h5 {
		color: orange;
		font-family: 'Open Sans', sans-serif;
	}

	h4 {
		color: #808080;
		margin-bottom: 15px;
	}
}


//MEMBERS ATTENDING
.group {
	float: right;
	@include size-bg(transparant,"",225px);
	min-height: 150px;
	// margin-right: 15px;

	.member {
		overflow: hidden;
		margin-top: 15px;

		> :first-child {
			height: 50px;
			width: 50px;
			border-radius: 50%;
			background-size: cover;
			float: left;
		}
		> :last-child {
			margin-left: 60px;
			padding-top: 5px;
			text-transform: capitalize;
			:last-child {
				font-family: 'Open Sans', sans-serif;

				font-size: 8pt;
				color: orange;
				margin-top: -3px

			}
		}
	}
}

img {
	height: 35px;
}



//board and comments

.object {

	border-radius: 3px;
	border: 1px solid #DEDEDE;
	background-color: white;

	> :first-child {
		padding: 10px;
		border-bottom: 1px solid #ddd;
		h2 {
			font-weight: lighter;
		}

	}
	> :nth-child(2) {
		padding: 10px;
		min-height: 25px;
		p {
			min-height: 200px;
		}
	}

}

.board {

	margin: 0 255px;


	> * {
		@extend .object;
		textarea {
			min-width: 100%;
			max-width: 100%;
		}

		+ * {
			margin-top: 15px;
		}
	}

	.new-comment {
		position: relative;
		&:after {
			content: "";
			display: block;
			margin-top: 30px;
		}
		button {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
	}


	.comment {
		header {
			div {
				background-size: cover;
				float: left;
				height: 30px;
				width: 30px;
				border-radius: 50%;
			}
			h2 {
				margin-left: 40px;
				text-transform: capitalize;
				font-weight: lighter;

			}
		}
		p {
			padding: 25px;
		}

	}
	&.events {
		margin-left: 255px;
		width: 75%;
	}

}

footer {
	padding: 10px;
	background-color: white;
	height: 200px;
	margin-top: 25px;

	text-align: center;
	nav {
		margin: 25px;
		a {
			text-decoration: none;
			padding: 10px;
		}

	}
	h5 {
		font-family: 'Open Sans', sans-serif;
	}


	.logo-footer {
		color: black;
		font-size: 24pt;
		text-decoration: none;
		font-family: 'Crimson Text', serif;
		span {
			color: orange;
		}
	}

}




//my events

.events	> * + * {
	margin-top: 20px;
	position: relative;
}

.event {
	overflow: hidden;
	position: relative;

	a {
		display: block;
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
	}

	//picture of event
	> :first-child {
		position: relative;
		float: left;
		width: 20%;
		background-size: cover;
		border-radius: 50%;
		
		//psudo element to enable width to be the same and height
		&:before {
			display: block;
			padding-top: 100%;
			content: "";
		}
	}
	
	// event i
	> .info {
		width: 40%;
		float: left;
		padding-left: 25px;
	}

	// description
	> :nth-child(3) {
		width: 40%;
		float: left;
		padding: 20px 0;
		font-family: 'Open Sans', sans-serif;
		color: #808080;
		font-style: italic;
	}
}



// create user

.create-account {
	background-color: #2D3645;
	padding-top: 50px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	color: #696D75;


}
.create-account form {
	width: 300px;
	background-color: white;
	padding: 20px;
	overflow: hidden;
	margin: auto;
	margin-top: 25px;
}

.create-account form > * + * {
	margin-top: 15px;
}

.create-account button {
	border-radius: 3px;
	background-color: orange;
	width: 260px;
	color: white;
	border: none;
	margin: auto;
	display: block;
	margin-top: 15px;
	padding: 10px;
}

div.cf {
	clear: both;
	content: "";
	overflow: hidden;
}
.create-account label {
	display: block;
	position: relative;
	width: 260px;				
	height: 40px;
	padding: 8px;

}


label.small {
	width: 125px;
	display: inline-block;			
}

.small:nth-child(even) {
	float: right;
}	
.small:nth-child(odd) {
	float: left;
}




.create-account input {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 12pt;
	padding-left: 45px;
	border-radius: 3px;
	border: 1px solid lightgray;
	background-color: transparent;
}


.greeting {
	width: 260px;
	margin: auto;
	text-align: center;
}


.signup-logo {
	position: relative;
	width: 300px;
	margin: auto;
	min-height: 50px;
	text-align: center;
	color: #696D75;
}
.signup-logo .logo {
	position: initial;
}

.create-account p {
	font-size: 7pt;
	text-align: center;
}

.alt-login {
	text-align: center;
	margin-top: 15px;
	a {
		text-decoration: none;
		font-size: initial;
		color: inherit;
	}
}
